@font-face {
  src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url("../assets/fonts/SignPainter-Regular.ttf") format("truetype");
  font-family: "SignPainter";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
